{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<main class="bg-white max-w-lg mx-auto p-8 md:p-12 my-10 rounded-lg shadow-2xl">
    <section>
        <h3 class="font-bold text-2xl">Bienvenue !</h3>
        <p class="text-gray-600 pt-2">Connectez-vous à votre compte</p>
    </section>
    <section class="mt-10">
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Vous êtes connecté(e)s comme {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Me déconnecter</a>
        </div>
    {% endif %}

                <div class="flex flex-col">

                    <div class="mb-6 pt-3 rounded">
                        <label  class="block text-gray-700 text-sm font-bold mb-2 ml-3" for="email">Email</label>
                        <input type="email" value="{{ last_username }}" name="email" id="email" class="bg-gray-200 rounded w-full text-gray-700 focus:outline-none border-b-4 border-gray-300 focus:border-purple-600 transition duration-500 px-3 pb-3" autocomplete="email" required autofocus>
                    </div>


                <div class="mb-6 pt-3 rounded">
                        <label  class="block text-gray-700 text-sm font-bold mb-2 ml-3"  for="password">Mot de passe</label>
                        <input type="password" name="password" id="password" class="bg-gray-200 rounded w-full text-gray-700 focus:outline-none border-b-4 border-gray-300 focus:border-purple-600 transition duration-500 px-3 pb-3" autocomplete="current-password" required>
                </div>


                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">


                <div class="p-4">
                    <button class="bg-purple-600 hover:bg-purple-700 text-white font-bold p-4 rounded shadow-lg hover:shadow-xl transition duration-200" type="submit">
                        Se connecter
                    </button>
                </div>
                </div>

</form>
    </section>
</main>
{% endblock %}
