{% extends 'base.html.twig' %}

{% block title %}Mercadona{% endblock %}

{% block body %}

  <div class="relative overflow-hidden bg-cover bg-no-repeat p-12 text-center" style="height: 900px; max-height: 700px; background-image: url('https://tecdn.b-cdn.net/img/Photos/Slides/img%20(15).jpg'); background-position: center; background-size: cover;">
    <div class="absolute bottom-0 left-0 right-0 top-0 h-full w-full overflow-hidden bg-fixed" style="background-color: rgba(0, 0, 0, 0.6)">
      <div class="flex h-full items-center justify-center">
        <div class="text-white">
          <h2 class="mb-4 text-4xl font-semibold">Bienvenue chez Mercadona</h2>
          <p class="mb-6 text-lg">Découvrez notre large sélection de produits de qualité.</p>
          <a href="{{ path('app_product_index') }}" class="px-6 py-3 bg-blue-500 text-white font-semibold rounded-lg">Voir les produits</a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
