<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>My Dashboard</title>
    <!-- Ajoutez ici vos liens vers les fichiers CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/easyadmin@latest/easyadmin.min.css">
</head>
<body>
<header>
    <!-- Ajoutez ici le contenu de votre en-tête -->
    <h1>Mon Tableau de bord EasyAdmin</h1>
</header>
<nav>
    <!-- Ajoutez ici votre menu de navigation -->
    <ul>
        <li><a href="{{ path('admin_category') }}">Accueil</a></li>

    </ul>
</nav>
<main>
    <!-- Ajoutez ici le contenu principal de votre tableau de bord -->
    <h2>Bienvenue sur votre tableau de bord EasyAdmin</h2>
    <!-- Inclure ici le rendu de EasyAdmin -->

</main>
<footer>
    <!-- Ajoutez ici le contenu de votre pied de page -->
    <p>© 2023 Mon Entreprise. Tous droits réservés.</p>
</footer>
<!-- Ajoutez ici vos liens vers les fichiers JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/easyadmin@latest/easyadmin.min.js"></script>
</body>
</html>
