{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <div class="flex flex-col md:flex-row">
        <div class="w-full md:w-1/4 p-2">
            <div class="p-4">
                <div class="first:font-normal">
                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded m-3">
                        <a href="{{ path('app_product_index') }}">Toutes les catégories</a>
                    </button>
                </div>
                <select class="block w-full p-2 border border-gray-300 rounded-md dark:bg-gray-200 dark:text-gray-800" onchange="location = this.value;">
                    <option value="{{ path('app_product_index') }}">Filtres par catégories</option>
                    {% for category in categories %}
                        <option value="{{ path('app_categorie_index', { 'id': category.id }) }}">{{ category.label }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="w-full md:w-3/4 p-3">
            <!-- Contenu des produits -->
            <div class="container mx-auto px-4 ">
                <div class="mt-6 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-8 dark:text-gray-400 xl:gap-x-8">
                    {% for product in products %}
                        <div class="group relative gap-8 drop-shadow-md  bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700">
                            <div class="min-h-80 aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80">
                                <img src="{{ app_pictures_dir }}/{{ product.picture }}" alt="{{ product.label }}" class="h-full w-full object-cover object-center lg:h-full lg:w-full">
                            </div>
                            <div class="mt-4 flex justify-between p-4 ">
                                <div>

                                </div>
                                {% if product.productPromotion.promotionPercentage is defined %}
                                    <h3 class="text-md text-gray-900 font-bold p-4 ">
                                            {{ product.label }}
                                    </h3>
                                    {% set promoPrice = product.price * product.productPromotion.promotionPercentage  / 100 %}
                                    <p class="m-2 text-md text-grey-900 font-bold line-through">{{ product.price }} €</p>
                                <span class="inline-flex items-center bg-red-100 text-red-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-full dark:bg-red-900 dark:text-red-300">
                                    <p class="m-2 text-md text-red-500 font-bold">{{ product.price - promoPrice }} €</p>
                                </span>
                                {% else %}
                                <h3 class="text-md text-gray-900 font-bold p-4 ">
                                        {{ product.label }}
                                </h3>
                                <span class="inline-flex items-center bg-blue-100 text-blue-500 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-full dark:bg-red-900 dark:text-red-300">
                                    <p class="m-2 text-md text-blue-500">{{ product.price }} €</p>
                                </span>
                                {% endif %}

                            </div>
                            <div class="block max-w-sm p-6 ">
                                <p class="font-normal text-gray-700 dark:text-gray-400">{{ product.description | raw }}</p>
                            </div>


                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
