@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
$body: rgb(237, 242, 247);
body {
    background-color: $body;
    font-family: Lato, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: rgb(55, 65, 81);
}

header a {
    color: black;
    text-decoration: none;
    &:hover {
        border-bottom: 2px solid blueviolet;
        transition: all 0.3s ease-in-out;
        color: black;

    }
}

footer {
    background: hsla(186, 33%, 94%, 1);

    background: linear-gradient(90deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%);

    background: -moz-linear-gradient(90deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%);

    background: -webkit-linear-gradient(90deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%);


    color: white;
    padding: 1rem;
    text-align: center;
}
